.card {
    width: calc((53rem / 3) - 4rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card .img {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.card .img img:not(button img) {
    width: 100%;
    border-radius: .6rem;
}

.card .img .button_inactive {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    padding: .6rem 1.8rem;
    border-radius: 4rem;
    border: 1px solid hsl(12, 20%, 44%);
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    bottom: -1rem;
    transition: .4s ease border-color, .4s ease color;
}

.card .img .button_active {    
    height: 2.5rem;
    width: 80%;
    border-radius: 4rem;
    display: flex;
    justify-content: space-between;
    padding: .6rem 1rem;
    position: absolute;
    bottom: -1rem;
    background-color: hsl(14, 86%, 42%);
    color: white;
}

.card .img .button_active button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem;
    border-radius: 50%;
    background: transparent;
    border: 1px solid hsl(20, 50%, 98%);
    cursor: pointer;
    transition: .4s ease background-color;
}

.card .img .button_inactive:hover {
    border-color: hsl(14, 86%, 42%);
    color: hsl(14, 86%, 42%);
}

.card .info {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.card .info .category {
    color: hsl(7, 20%, 60%);
    font-size: .8rem;
}

.card .info .name {
    color: hsl(14, 65%, 9%);
    font-weight: 600;
}

.card .info .price {
    color: hsl(14, 86%, 42%);
    font-weight: 600;
}

@media screen and (max-width: 476px) {
    .card {
        width: 100%;
    }
}