.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card .img {
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.card .img img:not(button img) {
    width: 100%;
    border-radius: .6rem;
}

.card .img button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    padding: .6rem 1.8rem;
    border-radius: 4rem;
    border: 1px solid hsl(12, 20%, 44%);
    cursor: pointer;
    font-weight: 600;
    position: absolute;
    bottom: -1rem;
}

.card .info .category {
    color: hsl(7, 20%, 60%);
    font-size: .8rem;
}

.card .info .name {
    color: hsl(14, 65%, 9%);
    font-weight: 600;
}

.card .info .price {
    color: hsl(14, 86%, 42%);
    font-weight: 600;
}