@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Text', sans-serif;
}

body {
  min-height: 100vh;
  background-color: hsl(13, 31%, 94%);
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.foods_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.foods_content h1 {
  font-size: 2rem;
  color: hsl(14, 65%, 9%);
}

.foods_content .content {
  max-width: 53rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5rem;
}

aside {
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  background-color: hsl(20, 50%, 98%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem auto;
  border-radius: 1rem;
}

aside h2 {
  color: hsl(14, 86%, 42%);
}

aside .cart_content_empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

@media screen and (max-width: 476px) {
  main {
    align-items: center;
  }
}